# ── MySQL ──────────────────────────────────────────────────────────────────────
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=tiendaya
MYSQL_USER=tiendaya
MYSQL_PASSWORD=tiendaya123
MYSQL_PORT=3307

# ── MongoDB ────────────────────────────────────────────────────────────────────
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=adminpassword
MONGO_DATABASE=tiendaya

# ── Backend ────────────────────────────────────────────────────────────────────
BACKEND_HOST=localhost
BACKEND_PORT=8000
